In [1]:
import pandas as pd

In [22]:
data = pd.read_csv("data/jakarta.csv")
data

,Name,Class,Rating,Total Rater,Facility,Price,Area
0,MK HOUSE TENDEAN,2-star hotel,4.4,(548),"['Free Wi-Fi', 'Air conditioning', 'Full-servi...","IDR 113,133",Jakarta
1,RedDoorz @ Cempaka Putih,2-star hotel,4.4,(169),"['Free Wi-Fi', 'Air conditioning', 'Child-frie...","IDR 154,526",Jakarta
2,Green Bamboo Residence,2-star hotel,4.2,"(1,630)","['Breakfast', 'Free Wi-Fi', 'Free parking', 'A...","IDR 159,722",Jakarta
3,RedDoorz Premium @ Cilandak Timur 2,2-star hotel,4.5,(243),"['Free Wi-Fi', 'Outdoor pool']","IDR 184,569",Jakarta
4,Zest Airport Jakarta by Swiss-Belhotel Interna...,2-star hotel,4.2,"(4,237)","['Breakfast', 'Free Wi-Fi', 'Free parking', 'P...","IDR 369,566",Jakarta
...,...,...,...,...,...,...,...
477,Oakwood Suites La Maison Jakarta,5-star hotel,4.6,(145),"['Free Wi-Fi', 'Free parking', 'Outdoor pool',...","IDR 1,824,187",Jakarta
478,Fraser Residence Menteng Jakarta,5-star hotel,4.6,"(2,240)","['Free breakfast', 'Free Wi-Fi', 'Parking ($)'...","IDR 1,205,253",Jakarta
479,Fraser Residence Sudirman,5-star hotel,4.6,"(1,506)","['Free breakfast', 'Free Wi-Fi', 'Free parking...","IDR 1,564,444",Jakarta
480,"The Hermitage, a Tribute Portfolio Hotel, Jakarta",5-star hotel,4.6,"(3,785)","['Breakfast ($)', 'Free Wi-Fi', 'Free parking'...","IDR 3,184,443",Jakarta
481,Ethan Hotel Cilincing Plaza,5-star hotel,4,(255),"['Free Wi-Fi', 'Free parking', 'Air conditioni...","IDR 206,167",Jakarta